# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/
env/

# HuggingFace / Transformers
.cache/
huggingface/
hf_cache/

# Torch
*.pt
*.pth
*.bin

# Data / Outputs
*.csv
*.pkl
*.npy
*.npz

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store


